@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6, span {
    color: #242424;
    text-align: center;
    line-height: 1.25;
}

h1 {
   font-size: 36; 
}

p {
    line-height: 1.5;
    font-size: 16px;
}

li {
    list-style: none;
    }
.flex {
    display: flex;
}
.flex-1 {
    flex: 1;
}

.container {
    padding:50px 0;
}

.row {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

section:nth-child(even) {
    background-color: #f8f8f8;
}

/*
NAVIGATION BAR 
*/

nav {
    height: 100px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__link--list{
    display: flex;
}

.nav__link--anchor {
    margin: 0 12px;
    text-decoration: none;
    color: #242424;
    font-weight: 600;
}

.link__link--anchor-primary{
    background-color: #6030b1;
    padding: 8px 20px;
    border-radius: 50px;
    color: white;
    transition: background-color 0.3s ease-in-out;
}

.link__link--anchor-primary:hover {
    background-color: #5d3eff;
}   

.personal_logo {
    font-size: 24px;
    color: #6030b1;
    margin: 0 12px;
    font-weight: bold;
}

.text--purple {
    color: purple;
}


/* 
ABOUT ME

*/


#about-me {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.about-me__info {
    display: flex;
    flex-direction: column;
}

.about-me__info--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.about-me__picture--mask {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 8px 16px;
    margin-bottom: 28px;
}

.about-me__picture {
    width: 100%;


  /*Imporving Self Portriat */
    transform: scale(1.3);
    padding-top: 8px;
}

.about-me__info--title  {
    margin-bottom:  16px;
   
}
.about-me__info--para {
    font-size: 20px;
    margin-bottom:  28px;
}

.about-me__link {
    font-size: 25px;
    color: black;
    padding: 0 16px;
}

.about-me__img--container {
    flex: 1;
    display: flex;
    align-items: center;
}

.about-me__img {
    width: 100%;
}








